<ul>
  <li><%= link "Alpine.js demo", to: Routes.page_path(@conn, :demo), class: "" %></li>
  <li><%= link "Stopwatch", to: Routes.page_path(@conn, :stopwatch), class: "" %></li>
  <li><%= link "Drag and drop", to: Routes.item_index_path(@conn, :index), class: "" %></li>
  <li><%= link "Counter + LiveView", to: Routes.counter_index_path(@conn, :index), class: "" %></li>
</ul>
