<h1 class="text-7xl text-yellow-500 bg-slate-800 font-bold text-center w-full rounded-xl shadow-lg py-3 mt-3 ml-3">
  Hello TailWorld!
</h1>
<button
  x-data="{ label: 'Alpine.js button' }"
  x-text="label"
  class="ml-3 mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
>
</button>
